#keyboard {
    display: flex;
    width: 295px;
    height: 400px;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
}

.key {
    width: 70px;
    height: 70px;
    font-size: 15px;
}

#\= {
    width: 295px;
}